*{
    padding:0px;
    margin:0px;
}
header{
    text-align: center;
    background-color: darkcyan;
    padding: 10px;
}
.container-fluid{
    padding:0px !important;
}
.container{
    text-align: center;
}
    .jumbotron{
        background-color: white;
        text-align: center;
    }
#origin-text{
    background: darkgoldenrod;
    text-align: center;
    padding: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.text-wrapper{
    margin:0 auto;
    border: 3px solid gray;
    border-radius: 5px;
    height: 180px;
}.result_div{
    margin: 0 auto;
    visibility: hidden;
}
thead{
    text-align: center;
}
.meta{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    width:100%;
    background-color: #c8eaf1;
}
#loading{
    display:none;
    position: absolute; 
    width: 100%;
    height: 100%;
    left:570px;
    background:url("images/loader.gif");
    background-repeat: no-repeat;
    background-size: 10%;
}
#nextlevel{
    visibility: hidden;
}
#loading img{
   
}
.result_div{
    width: 60%;
    height: 100%;
    text-align: center;
}
th,td{
    padding:10px;
}
textarea{
    height: 100%;
    display:none;
    margin:0 auto;
    width:100%;
    border-radius:4px;
    background-color:seashell;
    padding:7px;
}
.timer span{
    background-color: darkgrey;
    /* padding: 8px; */
    padding-left: 7px;
    padding-right: 7px;
    font-size: 23px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}