.text{
    padding: 20px;
    background-color: darkorange;
    color: white;
    text-align: center;
}
.text p{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}
.test{
    padding: 35px 30px;
}
header{
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #2bbbad;
    color: white;
}
.next{
    padding: 10px;
    text-align: center;
}
.quiz{
    display:none;
}
.start{
    text-align: center;
    padding: 40px;
    margin-top: 30%;

}
.resultButton{
    text-align: center;
    margin-top: 80px;
    padding: 40px;
    display: none;
}

.result{
    /* visibility: hidden; */
}
#clock{
    text-align: center;
    font-size: 23px;
    padding: 10px;
}
.timer span{
    padding: 10px;
    background-color: lavenderblush;
}
.container-fluid{
  padding:0px;
}
input span{
    font-size: 20px;
    color: black;
}
.modal.modal-fixed-footer{
    padding: 0;
    height: 40%;
}
.modal.modal-fixed-footer .modal-content{
    padding: 9px;
    height: calc(100% - 117px);
    text-align: justify;
}
.modal .modal-footer{
    background-color: #155d57;
}
p.luck{
    text-align: center;
    font-size:20px;
}
.done{
    position: relative;
    /* right: 6px; */
    left: 137px;
    top: 10px;
}
.valid{
    border-bottom:2px solid green;
}
.invalid{
    border-bottom:2px solid red;
    color:red;
}

.modal-header{
    text-align: center;
    background-color: #155d57;
    border-radius: 0px;
    color: white;
    margin: 0 auto;
}
.Qno{
    color: black;
    padding-right: 10px;
}
#check_0,#check_1,#check_2,#check_3{
    visibility: hidden;
}
#scoreboard{
    text-align: center;
    font-size: 23px;
    padding: 10px;
}
#scoreboard span{
    padding: 10px;
    background-color: lavenderblush;
}

.make-it-correct{
    display: inline;
    float: right;
    margin-right: 108px;
    color: green;
    visibility: visible !important;
}
.result{
    margin-left: 348px;
}
.result th{
    background-color: #2bbbad;
    color: white;
    padding: 10px;
    border-radius: 0px;
}
.make-it-wrong{
    display: inline;
    float: right;
    margin-right: 108px;
    color: red;
    visibility: visible !important;
}
#resultDisplay{
    text-align: center; 
    display:none;
}
#resultTable{
    display:none;
}
.clear-test{
    color: green;
    font-size: 34px;
}
.fail-test{
    color: red;
    font-size: 34px;
}
.btn-flat {
    color: white;
    margin: 6px 0;
    text-align: center;
    margin: 0 auto !important;
    font-size: 21px;
}